/**
 * @file
 * Styles for the rendered entities element.
 */

.entity-reference-form-rendered--rendered-entities .form-item {
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
}

.entity-reference-form-rendered--rendered-entities label.option {
  display: inline-block;
  padding: 2px;
  border: 1px solid transparent;
}

.entity-reference-form-rendered--rendered-entities .form-radio,
.entity-reference-form-rendered--rendered-entities .form-checkbox {
  display: none;
}

.entity-reference-form-rendered--rendered-entities .form-item input[type="radio"]:checked + label.option,
.entity-reference-form-rendered--rendered-entities .form-item input[type="checkbox"]:checked + label.option {
  border-color: #000;
}